@model ReservationViewModel

<div class="container">

<h4>Reservasyon Oluştur</h4>
<hr />

<div class="container">
    <form asp-area="Admin" asp-controller="Reservation" asp-action="Create" method="POST">
        <div class="form-group">
            <label asp-for="GymId">Salon Adı</label>
            <select asp-for="GymId" class="form-control">
                @foreach (var item in (List<Gym>)ViewData["GymList"])
                {
                    <option value="@item.Id">@item.Title</option>
                }
            </select>
            <small id="userTypeHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
         <div class="form-group">
            <label asp-for="UserId">Kullanıcı Adı</label>
            <select asp-for="UserId" class="form-control">
                @foreach (var item in (List<User>)ViewData["UserList"])
                {
                    <option value="@item.Id">@item.FullName()</option>
                }
            </select>
            <small id="userTypeHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>  
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
</div>